  .center-square {    
    width: 70%;
    height: 70%;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-content: center;    
    border-radius: 10%;    
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 15%;
    right: 15%;
    
  }

  .subscribe{    
    text-align: center;
    border-radius: 45%;
    background-color: yellowgreen;
    border: none;
    color: black;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 26px;
  }
  H1{
    color: black;
    text-align: center;
  }
  input{
    
    text-align: left;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 1em;
    color: grey;
  }
  input::placeholder {
    color: grey;
    font-size: 0.9em;
    font-style: normal;
    text-align: left;
    position: relative;
    bottom: 0.5em;
  }
  p{
    
    align-self: center;
    font-size: smaller; 
    position: absolute;
    bottom: 0   ;
    left: 35%;
    right: 20%;
  }
  .avion{
    height: 50px;
    width: 50px;
}
  
